@model SewingStudio.Models.MaterialSupply

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MaterialSupply</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaterialSuplyId" />
            <div class="form-group">
                <label asp-for="Provider" class="control-label"></label>
                <input asp-for="Provider" class="form-control" />
                <span asp-validation-for="Provider" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialId" class="control-label"></label>
                <select asp-for="MaterialId" class="form-control" asp-items="ViewBag.MaterialId"></select>
                <span asp-validation-for="MaterialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceOfMaterials" class="control-label"></label>
                <input asp-for="PriceOfMaterials" class="form-control" />
                <span asp-validation-for="PriceOfMaterials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOfMaterial" class="control-label"></label>
                <input asp-for="AmountOfMaterial" class="form-control" />
                <span asp-validation-for="AmountOfMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

